* {
    box-sizing: border-box;
    --content1: #C3B1E1;
    --content2: #FFFFF580;
}

body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.intro {
/* sizing */
    width: 100vw;
    height: 100vh;

/* flexbox */
    display: flex;
    justify-content: center;
    align-items: center;

/* text styles */
    text-align: center;
    color: white;

/* background styles */
    background-image: url(./site-images/pratch913.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.intro h1 {
/* text styles */
    font-size: 5em;

/* margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.content {

/* margins and padding */
    padding: 4em;
    margin: 4em;
    border: 1px solid black;

/* background styles */
    background-color: var(--content2);
}

.memorial {
    /* sizing */
        width: 100vw;
        height: 100vh;
    
    /* flexbox */
        display: flex;
        justify-content: center;
        align-items: center;

    /* margins */
        margin: 0 auto;
    
    /* background styles */
        background-image: url(./site-images/terry-pratchett-tribute-memorial.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

.quotation {
 /* sizing */
 width: 100vw;
 height: 100vh;

/* flexbox */
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;

/* text styles */
 text-align: center;
 color: white;

/* background styles */
 background-color: var(--content1);
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
}

.book-gallery {
/* flexbox */
display: flex;
flex-flow: row wrap;
justify-content: flex-start;

/* margins */
    margin: 0 auto;
}

.book-gallery img {
/* sizing */
    width: 100%;
    max-width: 350px;
    height: 300px;

/* image styles */
    object-fit: cover;
    border-radius: 10px;
}

