*
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --text-1: linen;
}

html {
  font-size: 16px;
}

body {
  background-color: #ffffff;
}

main {
    min-height: 100%dvh;
    min-height: 100%vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    grid-template-rows: repeat(7, 1fr);
}

.subtitle {
    font-size: 1.5rem;
}

.primary-header {  
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1/ 2;
    place-items: center;
    margin: 0;
    padding: 0;

/* text styles*/
    color: var(--text-1)
}

.primary-header > * {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.primary-header__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

section {
    border: solid black 2px;
}

.text {
    grid-column: 1 / -1;
    font-size: 1.8rem;
    letter-spacing: 0.6px;
}

.author-info {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    place-items: left;
    margin: 0;
    padding: 0;
}

.author-info__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.vimes-boot-index {
    display: grid;
    grid-template-columns: 1 / -1;
    grid-template-rows: auto;
}

.vimes-boot-index__img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.series-info {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    place-items: left;
    margin: 0;
    padding: 0;
} 

.book-gallery {
display: grid;
grid-column: 1 / -1;
grid-row: 5 / 6;
}

.book-gallery img {
    
    /* sizing */
    width: 100%;
    max-width: 350px;
    height: 300px;

    /* image styles */
    object-fit: cover;
    border-radius: 10px;
} 